 .register-container {
  width: 420px;
  margin: 50px auto;
  font-family: Arial, sans-serif;
  text-align: center;
}

.title {
  font-size: 26px;
  margin-bottom: 10px;
  font-weight: bold;
}

.form-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.input-field,
.dob-select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}

.phone-row {
  display: flex;
  gap: 10px;
}

.sms-row {
  display: flex;
  gap: 10px;
}

.code-btn {
  padding: 12px 15px;
  border: none;
  background-color: #f5f5f5;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.dob-row {
  display: flex;
  gap: 10px;
}

.register-btn {
  background-color: #0a0a74;
  color: white;
  padding: 14px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  width: 450px;
  
}


.verify-row {
  display: flex;
  gap: 10px;
  width: 100%;
  margin-top: 15px;
}

.verify-row .input-field {
  flex: 1;
}

.verify-btn {
  padding: 17px 17px;
  border: none;
  background-color: #f5f5f5;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  white-space: nowrap;
  margin-top: auto;
 
  

.personal-code-row {
  margin-top: 20px;
}

.login-link {
  margin-top: -10px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #230b71; 
  margin-top: 15px
}

.login-link a {
  color: #6e0b5f;
  font-weight: bold;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}
.footer {
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
  color: #24145f;
  margin-top:auto ;

}
footer {
  margin-bottom: 3px;
}

.footer a {
  color: #76808c;
  text-decoration: none;
  margin: 0 5px;
}

.footer .divider {
  margin: 0 5px;
  color: #888;
}

.footer p {
  margin-top: 10px;
  color: #928a8a;
}
}
